[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitdb = "==4.0.9"
smmap = "==5.0.0"
typing-extensions = "==4.0.1"
watchdog = "==2.1.6"
GitPython = "==3.1.26"

[dev-packages]
pyinstaller = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python git4school_watch_dog.py"
package = "pyinstaller --onefile --noupx git4school_watch_dog.py"
check = "pip -V"
lint = "pycodestyle -v git4school_watch_dog.py"
